<app-filtro-tabla
  [searchFields]="searchColumns"
  (filterSearch)="onFilterSearch($event)"
>
</app-filtro-tabla>
<div *ngIf="(obs | async)?.length > 0; then ifBlock; else elseBlock"></div>
<ng-template #ifBlock>
  <table
    mat-table
    class="obra-table mat-elevation-z8"
    [dataSource]="dataSource"
    multiTemplateDataRows
  >
    <ng-container matColumnDef="titulo">
      <mat-header-cell *matHeaderCellDef><h2>Obras</h2></mat-header-cell>
    </ng-container>
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef class="add-cell">
        <button
          mat-mini-fab
          color="primary"
          (click)="onCreate()"
          class="fab-button"
          matTooltip="Crear Obra"
          matTooltipPosition="above"
          aria-label="Crear Obra"
        >
          <mat-icon>person_add_alt_1</mat-icon>
        </button></mat-header-cell
      >
    </ng-container>
    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
      <mat-cell *matCellDef="let obra">{{ obra.nombre }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="descripcion">
      <mat-header-cell *matHeaderCellDef>Descripción</mat-header-cell>
      <mat-cell *matCellDef="let obra">{{ obra.descripcion }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="artistas">
      <mat-header-cell *matHeaderCellDef>Artistas</mat-header-cell>
      <mat-cell *matCellDef="let obra">{{
        getArtistas(obra.artistas, 3)
      }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="etiquetas">
      <mat-header-cell *matHeaderCellDef>Etiquetas</mat-header-cell>
      <mat-cell *matCellDef="let obra">{{
        getEtiquetas(obra.etiquetas, 3)
      }}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayTitleCol"></mat-header-row>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      *matRowDef="let obra; let row; columns: displayedColumns"
      class="click-row"
      [routerLink]="['/obras/', obra.id]"
    >
    </mat-row>
  </table>
  <mat-paginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons>
  </mat-paginator>
</ng-template>
<ng-template #elseBlock>
  <mat-spinner *ngIf="loading"></mat-spinner>
  <div *ngIf="!loading" class="no-obra">
    <h3 matLine>No hay obras.</h3>
    <button
      color="primary"
      mat-mini-fab
      aria-label="Crear obra"
      (click)="onCreate()"
    >
      <mat-icon>person_add_alt_1</mat-icon>
    </button>
  </div>
</ng-template>
