<div *ngIf="(etiquetas | async) != null; then ifBlock; else elseBlock"></div>
<ng-template #ifBlock>
  <h4>Etiquetas</h4>
  <mat-form-field>
    <mat-label>Agregar</mat-label>
    <input
      matInput
      [matChipInputFor]="tagList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="addOnBlur"
      (matChipInputTokenEnd)="add($event)"
      [disabled]="loading"
    />
  </mat-form-field>
  <mat-chip-list #tagList aria-label="Etiquetas" class="etiquetas-list">
    <mat-chip
      *ngFor="let etiqueta of etiquetas | async"
      selectable="false"
      [removable]="removable"
      (removed)="remove(etiqueta)"
    >
      {{ etiqueta.nombre }}
      <mat-icon matChipRemove *ngIf="removable">cancelar</mat-icon>
    </mat-chip>
  </mat-chip-list>
</ng-template>
<ng-template #elseBlock>
  <mat-spinner *ngIf="loading"></mat-spinner>
  <h4 *ngIf="!loading">No hay etiquetas.</h4></ng-template
>
