.mat-form-field
  display flex
  justify-content center
  align-items center
  align-content center
  width 100%

.mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 1.25em;
}

.input_fileupload--hidden
  display none
