<app-filtro-tabla
  [searchFields]="searchColumns"
  (filterSearch)="onFilterSearch($event)"
>
</app-filtro-tabla>
<div *ngIf="(obs | async)?.length > 0; then ifBlock; else elseBlock"></div>
<ng-template #ifBlock>
  <table
    mat-table
    class="usuarios-table mat-elevation-z8"
    [dataSource]="dataSource"
    multiTemplateDataRows
  >
    <ng-container matColumnDef="titulo">
      <mat-header-cell *matHeaderCellDef><h2>Usuarios</h2></mat-header-cell>
    </ng-container>
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef class="add-cell">
        <button
          mat-mini-fab
          color="primary"
          (click)="onCreate()"
          class="fab-button"
          matTooltip="Crear Usuario"
          matTooltipPosition="above"
          aria-label="Crear Usuario"
        >
          <mat-icon>person_add_alt_1</mat-icon>
        </button></mat-header-cell
      >
    </ng-container>
    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
      <mat-cell *matCellDef="let usuario"
        >{{ usuario.nombre }} {{ usuario.apellido }}</mat-cell
      >
    </ng-container>
    <ng-container matColumnDef="nombreUsuario">
      <mat-header-cell *matHeaderCellDef>Usuario</mat-header-cell>
      <mat-cell *matCellDef="let usuario">{{ usuario.nombreUsuario }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="rol">
      <mat-header-cell *matHeaderCellDef>Rol</mat-header-cell>
      <mat-cell *matCellDef="let usuario">{{ usuario.rol.nombre }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
      <mat-cell *matCellDef="let usuario">{{ usuario.email }}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayTitleCol"></mat-header-row>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      *matRowDef="let usuario; let row; columns: displayedColumns"
      class="click-row"
      [routerLink]="['/usuarios/', usuario.id]"
    >
    </mat-row>
  </table>
  <mat-paginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons>
  </mat-paginator>
</ng-template>
<ng-template #elseBlock>
  <mat-spinner *ngIf="loading"></mat-spinner>
  <div *ngIf="!loading" class="no-usuarios">
    <h3 matLine>No hay usuarios.</h3>
    <button
      color="primary"
      mat-mini-fab
      aria-label="Crear usuario"
      (click)="onCreate()"
    >
      <mat-icon>person_add_alt_1</mat-icon>
    </button>
  </div>
</ng-template>
