<div *ngIf="(usuario | async) != null; then ifBlock; else elseBlock"></div>
<ng-template #ifBlock>
  <mat-card class="default-card">
    <div class="avatar-upload usuarios">
      <app-noavatar
        *ngIf="!avatars.includes((usuario | async).avatar)"
      ></app-noavatar>
      <app-avatar1 *ngIf="(usuario | async).avatar == 'avatar1'"></app-avatar1>
      <app-avatar2 *ngIf="(usuario | async).avatar == 'avatar2'"></app-avatar2>
      <app-avatar3 *ngIf="(usuario | async).avatar == 'avatar3'"></app-avatar3>
      <app-avatar4 *ngIf="(usuario | async).avatar == 'avatar4'"></app-avatar4>
      <app-avatar5 *ngIf="(usuario | async).avatar == 'avatar5'"></app-avatar5>
      <app-avatar6 *ngIf="(usuario | async).avatar == 'avatar6'"></app-avatar6>
    </div>
    <mat-card-header>
      <mat-card-title>{{ (usuario | async)?.nombreUsuario }}</mat-card-title>
      <mat-card-subtitle
        >{{ (usuario | async)?.nombre }}
        {{ (usuario | async)?.apellido }}</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content>
      <div class="card-row">
        <strong>Email</strong><span>{{ (usuario | async)?.email }}</span>
      </div>
      <mat-divider></mat-divider>
      <div class="card-row">
        <strong>Documento</strong><span>{{ (usuario | async)?.dni }}</span>
      </div>
      <mat-divider></mat-divider>
      <div class="card-row">
        <strong>Telefono</strong><span>{{ (usuario | async)?.telefono }}</span>
      </div>
      <mat-divider></mat-divider>
      <div class="card-row">
        <strong>Rol</strong><span>{{ (usuario | async)?.rol.nombre }}</span>
      </div>
      <mat-divider></mat-divider>
      <div class="card-row" *ngIf="(usuario | async)?.direccion != null">
        <strong>Dirección</strong
        ><span
          >{{ (usuario | async)?.direccion.calle }} ,
          {{ (usuario | async)?.direccion.ciudad }} ,
          {{ (usuario | async)?.direccion.estado }} ({{
            (usuario | async)?.direccion.codigoPostal
          }})</span
        >
      </div>
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions>
      <div *ngIf="isAdmin(); then ifAdminBlock"></div>
      <ng-template #ifAdminBlock>
        <button
          mat-icon-button
          class="row-profile-button"
          [disabled]="loading"
          matTooltip="Editar Dirección"
          matTooltipPosition="below"
          (click)="onEditDireccion()"
          aria-label="Editar Dirección"
        >
          <mat-icon>place</mat-icon>
        </button>
        <button
          mat-icon-button
          class="row-profile-button"
          [disabled]="loading"
          matTooltip="Editar Usuario"
          matTooltipPosition="below"
          (click)="onEdit()"
          aria-label="Editar Usuario"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-icon-button
          class="row-profile-button"
          [disabled]="loading"
          matTooltip="Eliminar Usuario"
          matTooltipPosition="below"
          (click)="onConfirmDelete()"
          aria-label="Eliminar Usuario"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </ng-template>
    </mat-card-actions>
  </mat-card>
</ng-template>
<ng-template #elseBlock>
  <mat-spinner *ngIf="loading"></mat-spinner>
  <h5 *ngIf="!loading">No se pudo cargar el usuario.</h5></ng-template
>
