<h4 class="form-title">Datos del espacio</h4>
<mat-dialog-content>
  <form [formGroup]="espacioForm" class="dialog espacio-form">
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input
        matInput
        type="text"
        formControlName="nombre"
        autocomplete="off"
        maxlength="100"
        minlength="2"
        required
      />
      <mat-hint>Nombre</mat-hint>
      <mat-error *ngIf="getEspacioForm.nombre?.errors?.minlength"
        >El campo debe tener al menos 2 caracteres
      </mat-error>
      <mat-error *ngIf="getEspacioForm.nombre?.errors?.maxlength"
        >El campo debe tener como máximo 100 caracteres
      </mat-error>
      <mat-error *ngIf="getEspacioForm.nombre?.errors?.required"
        >Campo requerido</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Descripción</mat-label>
      <input
        matInput
        type="text"
        formControlName="descripcion"
        autocomplete="off"
        maxlength="150"
        required
      />
      <mat-hint>Descripción</mat-hint>
      <mat-error *ngIf="getEspacioForm.descripcion?.errors?.maxlength"
        >El campo debe tener como máximo 150 caracteres
      </mat-error>
      <mat-error *ngIf="getEspacioForm.descripcion?.errors?.required"
        >Campo requerido</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Capacidad</mat-label>
      <input
        matInput
        type="number"
        formControlName="capacidad"
        autocomplete="off"
        min="0"
        required
      />
      <mat-hint>Capacidad</mat-hint>
      <mat-error *ngIf="getEspacioForm.capacidad?.errors?.min"
        >La capacidad no puede ser menor que 0</mat-error
      >
      <mat-error *ngIf="getEspacioForm.capacidad?.errors?.required"
        >Campo requerido</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Condición</mat-label>
      <mat-select placeholder="Tipo" formControlName="condicion" required>
        <mat-option *ngFor="let condicion of tipos" [value]="condicion.indice">
          {{ condicion.value }}
        </mat-option>
      </mat-select>
      <mat-hint>Condición</mat-hint>
      <mat-error *ngIf="getEspacioForm.condicion?.errors?.required"
        >Campo requerido</mat-error
      >
    </mat-form-field>
    <div formGroupName="direccion" class="espacio-direccion">
      <h4 class="form-subtitle">Ubicación</h4>
      <mat-form-field>
        <mat-label>Calle</mat-label>
        <input
          matInput
          type="text"
          formControlName="calle"
          autocomplete="off"
          maxlength="100"
        />
        <mat-error *ngIf="direccionForm.calle?.errors?.maxlength">
          El campo debe tener como máximo 100 caracteres
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Ciudad</mat-label>
        <input
          matInput
          type="text"
          formControlName="ciudad"
          autocomplete="off"
          maxlength="100"
        />
        <mat-error *ngIf="direccionForm.ciudad?.errors?.maxlength">
          El campo debe tener como máximo 100 caracteres
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Estado</mat-label>
        <input
          matInput
          type="text"
          formControlName="estado"
          autocomplete="off"
          maxlength="100"
        />
        <mat-error *ngIf="direccionForm.estado?.errors?.maxlength">
          El campo debe tener como máximo 100 caracteres
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Código Postal</mat-label>
        <input
          matInput
          type="number"
          formControlName="codigoPostal"
          autocomplete="off"
          min="1"
          required
        />
        <mat-error *ngIf="direccionForm.codigoPostal?.errors?.pattern">
          Código postal incorrecto
        </mat-error>
        <mat-error *ngIf="direccionForm.codigoPostal?.errors?.min">
          El campo debe ser mayor que 0
        </mat-error>
        <mat-error *ngIf="direccionForm.codigoPostal?.errors?.required">
          Campo requerido
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Latitud</mat-label>
        <input
          matInput
          type="number"
          formControlName="latitud"
          autocomplete="off"
          readonly
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Longitud</mat-label>
        <input
          matInput
          type="number"
          formControlName="longitud"
          autocomplete="off"
          readonly
          required
        />
      </mat-form-field>
      <app-map
        [latitud]="espacio.direccion.latitud"
        [longitud]="espacio.direccion.longitud"
        (clickMap)="onClickMap($event)"
      >
      </app-map>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button
    type="submit"
    class="submit-button"
    [mat-dialog-close]="espacio"
    (click)="onSubmit()"
    [disabled]="espacioForm.invalid"
  >
    Enviar
  </button>
</mat-dialog-actions>
