<mat-form-field>
  <input
    matInput
    [matChipInputFor]="tagList"
    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
    [matChipInputAddOnBlur]="addOnBlur"
    (matChipInputTokenEnd)="add($event)"
    [disabled]="loading"
    autocomplete="off"
  />
  <mat-hint>Agregar Etiqueta</mat-hint>
</mat-form-field>
<mat-chip-list #tagList aria-label="Etiquetas" class="etiquetas-list" multiple>
  <mat-chip
    *ngFor="let etiqueta of etiquetas"
    [matBadge]="etiqueta.usuariosFav.length"
    matBadgeSize="small"
    [matBadgeHidden]="!selectable"
    [class]="etiquetaclase"
    [selectable]="selectable"
    [removable]="removable"
    [selected]="isSelected(etiqueta)"
    (removed)="remove(etiqueta)"
    (click)="select(etiqueta)"
  >
    <label>{{ etiqueta.nombre }}</label>
    <mat-icon matChipRemove *ngIf="removable && !loading">cancelar</mat-icon>
  </mat-chip>
</mat-chip-list>
