<div *ngIf="(artista | async) != null; then ifBlock; else elseBlock"></div>
<ng-template #ifBlock>
  <mat-card class="default-card">
    <div class="avatar-upload">
      <img
        mat-card-image
        class="default-avatar"
        [src]="imgPath"
        alt="Foto de artista"
      />
    </div>
    <mat-card-header>
      <mat-card-title>{{ (artista | async)?.apodo }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="card-row">
        <strong>Nombre</strong><span>{{ (artista | async)?.nombre }}</span>
      </div>
      <mat-divider></mat-divider>
      <div class="card-row">
        <strong>Apellido</strong><span>{{ (artista | async)?.apellido }}</span>
      </div>
      <mat-divider></mat-divider>
      <app-carrusel-imagenes
        [slides]="(artista | async)?.fotos"
      ></app-carrusel-imagenes>
      <app-etiquetas-entidad
        [etiquetas]="(artista | async)?.etiquetas"
        [loading]="loading"
        (agregar)="agregarEtiqueta($event)"
        (eliminar)="eliminarEtiqueta($event)"
      ></app-etiquetas-entidad>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-icon-button
        class="row-profile-button"
        matTooltip="Volver"
        matTooltipPosition="below"
        [routerLink]="['/artistas/']"
        aria-label="Volver"
      >
        <mat-icon>arrow_back_ios</mat-icon>
      </button>
      <div *ngIf="isAdmin(); then ifAdminBlock"></div>
      <ng-template #ifAdminBlock>
        <button
          mat-icon-button
          class="row-profile-button"
          [disabled]="loading"
          matTooltip="Agregar Fotos"
          matTooltipPosition="below"
          (click)="onAddPhoto()"
          aria-label="Agregar Fotos"
        >
          <mat-icon>add_a_photo</mat-icon>
        </button>
        <button
          mat-icon-button
          class="row-profile-button"
          [disabled]="loading"
          matTooltip="Editar Artista"
          matTooltipPosition="below"
          (click)="onEdit()"
          aria-label="Editar Artista"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-icon-button
          class="row-profile-button"
          [disabled]="loading"
          matTooltip="Eliminar Artista"
          matTooltipPosition="below"
          (click)="onDelete()"
          aria-label="Eliminar Artista"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </ng-template>
    </mat-card-actions>
  </mat-card>
</ng-template>
<ng-template #elseBlock>
  <mat-spinner *ngIf="loading"></mat-spinner>
  <h5 *ngIf="!loading">No se pudo cargar el artista.</h5></ng-template
>
