<div *ngIf="(obra | async) != null; then ifBlock; else elseBlock"></div>
<ng-template #ifBlock>
  <mat-card class="default-card">
    <mat-card-title>{{ (obra | async)?.nombre }}</mat-card-title>
    <app-carrusel-imagenes
      [slides]="(obra | async)?.fotos"
    ></app-carrusel-imagenes>
    <mat-card-content>
      <div class="card-row">
        <strong>Descripción</strong
        ><span>{{ (obra | async)?.descripcion }}</span>
      </div>
      <mat-divider></mat-divider>
      <div class="card-row">
        <strong>Duración</strong><span>{{ (obra | async)?.duracion }}</span>
      </div>
      <mat-divider></mat-divider>
      <div class="card-row">
        <strong>Artistas</strong>
      </div>
      <div class="card-row" *ngFor="let artista of (obra | async)?.artistas">
        <a [routerLink]="['/artistas/', artista.id]" class="entidad"
          ><span>{{ artista.nombre }}{{ artista.apellido }}</span></a
        >
      </div>
      <div
        class="card-row"
        *ngIf="
          (obra | async)?.artistas == null ||
          (obra | async)?.artistas.length == 0
        "
      >
        <span>No tiene artistas.</span>
      </div>
      <mat-divider></mat-divider>
      <app-etiquetas-entidad
        [etiquetas]="(obra | async)?.etiquetas"
        [loading]="loading"
        (agregar)="agregarEtiqueta($event)"
        (eliminar)="eliminarEtiqueta($event)"
      ></app-etiquetas-entidad>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-icon-button
        class="row-profile-button"
        matTooltip="Volver"
        matTooltipPosition="below"
        [routerLink]="['/obras/']"
        aria-label="Volver"
      >
        <mat-icon>arrow_back_ios</mat-icon>
      </button>
      <div *ngIf="isAdmin(); then ifAdminBlock"></div>
      <ng-template #ifAdminBlock>
        <button
          mat-icon-button
          class="row-profile-button"
          [disabled]="loading"
          matTooltip="Agregar Fotos"
          matTooltipPosition="below"
          (click)="onAddPhoto()"
          aria-label="Agregar Fotos"
        >
          <mat-icon>add_a_photo</mat-icon>
        </button>
        <button
          mat-icon-button
          class="row-profile-button"
          [disabled]="loading"
          matTooltip="Editar Obra"
          matTooltipPosition="below"
          (click)="onEdit()"
          aria-label="Editar Obra"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-icon-button
          class="row-profile-button"
          [disabled]="loading"
          matTooltip="Eliminar Obra"
          matTooltipPosition="below"
          (click)="onConfirmDelete()"
          aria-label="Eliminar Obra"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </ng-template>
    </mat-card-actions>
  </mat-card>
</ng-template>
<ng-template #elseBlock>
  <mat-spinner *ngIf="loading"></mat-spinner>
  <h5 *ngIf="!loading">No se pudo cargar el obra.</h5></ng-template
>
