<mat-dialog-content>
  <mat-card class="detail-card">
    <mat-card-header>
      <!-- TODO - se podria agregar un avatar / imagen -->
      <mat-card-title><h4>Datos del usuario</h4></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        <label>Nombre y Apellido: </label>
        <label>{{ usuario.nombre }} {{ usuario.apellido }}</label>
      </div>
      <div>
        <label>Nombre de usuario: </label>
        <label>{{ usuario.nombreUsuario }}</label>
      </div>
      <div>
        <label>Documento: </label>
        <label>{{ usuario.dni }}</label>
      </div>
      <div>
        <label>Email: </label>
        <label>{{ usuario.email }}</label>
      </div>
      <div>
        <label>Teléfono: </label>
        <label>{{ usuario.telefono }}</label>
      </div>
      <!--<ng-container *ngIf="usuario.rol != null">
        <div>
          <label>Rol: </label>
          <label>{{ usuario.rol.nombre }}</label>
        </div>
      </ng-container>
      <ng-container *ngIf="usuario.direccion != null">
        <div>
          <label>Direccion: </label>
          <label
            >{{ usuario.direccion.estado }}, {{ usuario.direccion.ciudad }},
            {{ usuario.direccion.calle }}</label
          >
        </div>
      </ng-container>-->
    </mat-card-content>
  </mat-card>
</mat-dialog-content>
