
body
  word-break break-word

h4
  &.form-title
    display flex
    width 100%
    justify-content center
    margin 12px auto
  &.form-subtitle
    display flex
    width 100%
    justify-content center
    margin 24px auto 12px auto

h5
  display flex
  width 100%
  justify-content center

app-root
  width 100%

.container
  display flex
  flex-direction column
  max-width lg
  margin 0 auto
  height 100%
  justify-content center
  z-index 0
  background-color backBlack
  .mat-paginator
    margin 0 auto
    width 75%
    @media screen and (max-width: sm)
      width 100%

.mat-table
  margin 10px auto 0 auto
  width 75%
  @media screen and (max-width: sm)
    width 100%
  .mat-header-cell, .mat-cell
    display flex
    justify-content center
  .mat-column-actions
    display flex
    justify-content flex-end

.mat-menu-content
  display flex
  justify-content center

app-navbar
  display flex
  align-items center
  justify-content center
  width 100%
  height toolbarHDsk
  @media screen and (max-width: sm)
    height toolbarHMob
  background-color backRed
  position -webkit-sticky
  position sticky
  top 0
  z-index 1

nav
  display flex
  width 100%

app-sidebar
  display flex
  width 100%
  height 100%
  overflow auto

app-usuarios, app-artistas, app-espacios, app-actividades, app-obras, app-ediciones, app-etiquetas, app-etiquetas-entidad
  display flex
  flex-direction column
  align-items center
  width 100%

app-not-found, app-not-allowed, app-map, app-secure-img
  display flex
  width 100%
  justify-content center

.nav-container
  display flex
  max-width 250px
  height 100vh
  overflow auto

form
  &.dialog
    display flex
    flex-direction row
    justify-content center
    flex-wrap wrap
    .mat-form-field
      margin 0.3em 0.6em
    .submit-dialog
      width 100%

button 
  background-color transparent
  display flex
  justify-content center
  align-items center
  cursor pointer
  color white
  padding 0.2em 0.6em
  text-decoration none
  font 1em Arial,Helvetica,sans-serif
  margin 5% auto
  .link
    &:hover
      background-color borderRed
      border solid 1px borderRed
  &.submit-button
    &:not(:disabled)
      background-color backRed
      border solid 1px borderRed
  &.row-common-button
    color backBlueGray
    &:hover
      color backBlueGray
  &.row-delete-button
    color backRed
    &:hover
      color borderRed
  &.visibility-button
    display flex
    align-items center
    box-shadow none
    border none
    background-color transparent
    color primaryBack
    padding 0
    font-size 1.2em
    .mat-icon
      border none
      box-shadow none
      font-size 1.2em
      height 100%
      width 100%
    &:hover
      color primaryBack
    &.top-right
      top 10%
      right 5%

.desktop
  display flex

.mobile
  display none

.mat-button,
.mat-icon-button
  &.cdk-focused,
  &.cdk-program-focused
    background-color none !important
    .mat-button-focus-overlay
      display none !important

.mat-dialog-content
  form
    .mat-form-field
      width 40%

.loading-cell
  display flex
  justify-content center
  padding 1em 0

.descripcion-cell
  padding 0
  width 100%
  flex-direction: row;
  span
    display flex
    width 100%
    justify-content center
    align-items center
    align-content center
    flex-direction column
    &:first-of-type
      padding-left 24px
    &:last-of-type
      padding-right 24px

.default-card
  display flex
  flex-direction column
  justify-content center
  align-items center
  max-width 500px
  min-width 300px
  margin-top 25px
  &.mat-card
    .mat-divider-horizontal
      display flex
      position relative
  .card-row
    display flex
    flex-direction row
    width 100%
    padding 5px 0px
    justify-content space-between
  .mat-card-header
    .mat-card-title
      text-align center
  .mat-card-content
    display flex
    flex-direction column
    width 100%
    margin-bottom 0
  .mat-card-actions
    display flex
    flex-direction row
    width 100%
    margin-bottom 0
    justify-content flex-end
    .mat-icon-button.cdk-program-focused
      .mat-button-focus-overlay
        opacity 0
    .row-profile-button
      border none
      margin 0
      padding 4px
      &:hover
        color backRed
  .avatar-upload
    margin-top 0px
    position relative
    max-width 200px
    margin 20px auto 10px auto
    .default-avatar
      width 175px
      box-shadow 0px 2px 4px 0px rgba(0, 0, 0, 0.12)
      border-radius 50%
      margin 0 auto
      padding 3px
      border 3px solid backRed
      height auto

.click-row
  cursor pointer
  &:hover
    background-color hoverRed

.filtro-tabla
  display flex
  justify-content center
  width 75%
  margin 10px auto 0 auto
  padding 5px
  @media screen and (max-width: sm)
    width 100%
  input
    border  1px solid hoverRed
    width 100%
    padding 12px
    color white
    font-size 1.1em
    background-color backBlack2
    &:focus
      border  1px solid hoverRed

@media screen and (max-width: sm)
  .desktop
    display none
  .mobile
    display flex
  .mat-dialog-content
    form
      .mat-form-field
        width 90%
