
body
  word-break break-word

app-root
  width 100%

.container
  display flex
  flex-direction column
  max-width lg
  margin 0 auto
  height 100%
  justify-content center
  z-index 0
  background-color backBlack
  .mat-paginator
    margin 0 auto
    width 75%
    @media screen and (max-width: sm)
      width 100%

.mat-table
  margin 10px auto 0 auto
  width 75%
  @media screen and (max-width: sm)
    width 100%
  .mat-header-cell, .mat-cell
    display flex
    justify-content center
  .mat-column-actions
    display flex
    justify-content flex-end

.mat-menu-content
  display flex
  justify-content center

app-navbar
  display flex
  align-items center
  justify-content center
  width 100%
  height toolbarHDsk
  @media screen and (max-width: sm)
    height toolbarHMob
  background-color backRed
  position -webkit-sticky
  position sticky
  top 0
  z-index 1

nav
  display flex
  width 100%

app-sidebar
  display flex
  width 100%
  height 100%

app-usuarios
  display flex
  flex-direction column
  width 100%

app-not-found, app-not-allowed
  display flex
  width 100%
  justify-content center

.nav-container
  display flex
  max-width 250px
  height 100vh
  overflow auto

form
  &.dialog
    display flex
    flex-direction row
    justify-content center
    flex-wrap wrap
    .mat-form-field
      margin 0.3em 0.6em
    .submit-dialog
      width 100%

button 
  background-color transparent
  display flex
  justify-content center
  align-items center
  cursor pointer
  color white
  padding 0.2em 0.6em
  text-decoration none
  font 1em Arial,Helvetica,sans-serif
  margin 5% auto
  .link
    &:hover
      background-color borderRed
      border solid 1px borderRed
  &.submit-button
    &:not(:disabled)
      background-color backRed
      border solid 1px borderRed
  &.row-common-button
    color backBlueGray
    &:hover
      color backBlueGray
  &.row-delete-button
    color backRed
    &:hover
      color borderRed

.desktop
  display flex

.mobile
  display none

@media screen and (max-width: sm)
  .desktop
    display none
  .mobile
    display flex
