//Colors
backRed = #c13434bb
backBlueGray = #b0bec5
borderRed = #d51414
hoverRed = #d5141455
backBlack = #303030
backBlack2 = #424242
//Sizes
xs = 419px
sm = 767px
md = 959px
lm = 1024px
lg = 1279px
xl = 1599px
maxWidth = lg
//margins
smallM = 10px
normalM = 20px
//heights
toolbarHDsk = 70px
toolbarHMob = 50px
