//Colors
backBlack = #303030
backBlack2 = #424242
backBlueGray = #b0bec5
backDisabled = #69696977
backRed = #c13434bb
fontRed = #c13434
fontWhite = #fafafa
borderRed = #d51414
hoverRed = #d5141455
//Sizes
xs = 419px
sm = 767px
md = 959px
lm = 1024px
lg = 1279px
xl = 1599px
maxWidth = lg
//margins
smallM = 10px
normalM = 20px
//heights
toolbarHDsk = 70px
toolbarHMob = 50px
